<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".Portrait"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.GRAPHpick"
        tools:targetApi="31">
        <activity
            android:name=".Edit"
            android:exported="false"
            android:theme="@style/F1DialogTheme" />
        <activity
            android:name=".Line_Color"
            android:exported="false"
            android:theme="@style/F1DialogTheme" />
        <activity
            android:name=".Bar_Color"
            android:exported="false"
            android:theme="@style/F1DialogTheme" />
        <activity
            android:name=".Pie_Color"
            android:exported="false"
            android:theme="@style/F1DialogTheme" />
        <activity
            android:name=".Save"
            android:exported="false"
            android:theme="@style/F1DialogTheme" />
        <activity
            android:name=".Line_Elements"
            android:exported="false"
            android:theme="@style/F1DialogTheme" />
        <activity
            android:name=".Pie_Elements"
            android:exported="false"
            android:theme="@style/F1DialogTheme" />
        <activity
            android:name=".Bar_Elements"
            android:exported="false"
            android:theme="@style/F1DialogTheme" />
        <activity
            android:name=".Portrait"
            android:exported="false" />
        <activity
            android:name=".Pie"
            android:exported="false" />
        <activity
            android:name=".Line"
            android:exported="false" />
        <activity
            android:name=".Bar"
            android:exported="false" />
        <activity
            android:name=".Graph"
            android:exported="false" />
        <activity
            android:name=".Extract"
            android:exported="false" />
        <activity
            android:name=".Gallery"
            android:exported="false" />
        <activity
            android:name=".Cam"
            android:exported="false" />
        <activity
            android:name=".Instruction"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>